@charset "utf-8";
/* CSS Document */

span{display:inline;}
fieldset{border:1px solid #d8d8d8;padding:10px;margin-bottom:15px;}
fieldset legend{background-color: #f9f9f9;border: 1px solid #d8d8d8;font-weight: 700;padding: 3px 8px;color:#444}
select{border: 1px solid #d0d0d0;height: 25px;line-height: 25px;min-width:110px;background: #f9f9f9;border-color: #666666 #cccccc #cccccc #666666;padding-right:5px}
textarea{border: 1px solid #d0d0d0;padding: 2px 0 2px 5px;line-height:18px; font-size: 12px;width:100%;}
.table_form{width:98%;margin:auto;}
.table_form td{border-bottom: 1px solid #eee;line-height: 35px;padding:0 5px;}
.input_text{border: 1px solid #d0d0d0;padding: 2px 0 2px 5px;line-height:18px; font-size: 12px;width:180px;outline:medium none;}
.input_text:focus{border-color:#75a1f0;box-shadow: 0 0 12px #75a1f0;outline:medium none;transition:all 0.218s ease 0s;}
.w60{width:60px;}
.h60{height:60px;}
.top5{margin-top:5px}
.bot5{margin-bottom:5px}
.red{color:red;margin:0 8px;font-size:12px}
.green{color:green;}
.tips{color:#959595;}
.red img{margin-right:3px;}
.err{border: 1px solid #f00;}

.topstyle2{background: #fff; border: 1px solid #eee;padding: 8px 10px;margin-bottom:10px;}
.topstyle2 .cur_class{background: #2b7fb5;color:#fff;padding:5px 8px;border-radius:2px;}
.topstyle2 a{color:#004499;}
.georgia{font-family: Georgia,Arial;font-size:16px;color:#0e774a;font-weight:bold;}