@charset "utf-8";
/* CSS Document */
body{font-size:12px;font-family: "微软雅黑",Arial,Helvetica,sans-serif;line-height:22px;padding:0px;margin:0px;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0px;padding:0px;}
table{border-collapse:collapse;}
a,img{border:0;}
img:hover{filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8;}
ol,ul{list-style:none}
a{color:blue;text-decoration:none;}
a:hover{color:#1e3564;text-decoration:underline;}
.clearfix{clear:both;width:0px;height:0px;overflow:hidden;}

#head_login{height:27px;line-height:27px;background:#f9f9f9;border-bottom:3px solid #2f549f;padding:2px 8px;}
.w980{width:980px;margin:0 auto;}
#mini{float:right;}
#mini a{color:#049;}
#mini iframe{height:27px;}

/* 网站容器 */
#container{margin:auto;width:980px;}

   /*网站头部 */
   #header{height:100px;}
   #logo{float:left;margin-left:20px;}
   #search{float:right;margin-top:30px;}
   #search .text{background:url(../images/search.jpg) no-repeat;float:left;border:medium none;color:#c2c2c2;font-size:12px;height:28px;line-height:28px;padding:4px 4px 4px 26px;width:410px;outline:0px}
   #search .button{float:right;background:url(../images/button.jpg);width:95px;height:35px;border:none;outline:0px;font-size:14px;line-height:35px;float:left;margin-left:5px;cursor:pointer;}

   
   
   /*导航条*/
   .menu{height:39px;line-height:39px;background:url(../images/nav_bg.png);background-color:#275090;border:1px solid #0e2c5e;}
	.nav li{float:left;background:url(../images/1.jpg) repeat-y right;padding-right:2px;position:relative;z-index:998;}
	.nav li a{float:left;width:106px;display:block;line-height:39px;text-align:center;font-family:'微软雅黑','黑体';font-weight:normal;font-size:14px;color:#fff;}
	.nav li a:focus{-moz-outline-style: none;}
	.nav li a:hover{text-decoration:none;color:#fff;background:#3e639e;}
	.nav li .current{text-decoration:none;color:#fff;background:url(../images/2.jpg)}
	.nav li .sub_nav{position:absolute;top:38px;left:-2px;background:#264e8e;display:none;z-index:999;border:1px solid #0e2c5e;border-top:none;}
	.nav li .sub_nav li{text-align:center;width:140px;height:35px;line-height:35px;position:relative;z-index:999;padding:0px;background:#264e8e;clear:left;}
	.nav li .sub_nav li a{height:34px;line-height:34px;width:140px;display:inline-block;}
   
   .box{margin:10px 0;}
   
   .left{width:330px;float:left;}
	 #jiaodian{ width:328px;height:256px;z-index:10;border:1px solid #dadada;}
	.tab{width:100%;position:relative;}
	.big{width:100%;height:255px;text-align:center;float:left; display:inline;position:relative;z-index:9;overflow:hidden;}
	.big div{display:none}.big div.active{display:block}
	.big img,.big a img{width:100%;position:absolute; left:0px;z-index:1}
	.small{height:10px;position:absolute;left:15px;bottom:10px;z-index:100;}
	.small li{float:left;width:28px; height:7px;overflow:hidden;cursor:pointer;background:#9fa5a8; margin-right:2px;}
	.small li.active{background:#fff;}
	.big_title{position:absolute;bottom:-5px;left:15px; color:#FFF; font-size:12px; font-family:"微软雅黑";z-index:19}
	.jiaodianbg{background:#000;filter:alpha(opacity=70);-moz-opacity:0.7;opacity:0.7;position:absolute; left:0;height:51px;width:100%;bottom:0px;z-index:10}
	.jiaodiantitle{position:absolute; height:51px;width:100%;bottom:30px;z-index:10;}
	.jiaodiantitle a:hover{color:#FFF}  
   
   
   .left_bottom {margin-top:10px;}
   .left_bottom h2{background:url(../images/lbg.png);font-weight: normal;height:25px;line-height:25px;padding-right:10px;border:1px solid #dadada}
   .left_bottom span{background:#2f549f;font-size:12px;color:#fff;display:block;height:25px;width:80px;text-align:center;}
   .left_bottom a{float:right;font-weight: normal;color:#888;font-size:12px;}
   .new_ct{padding:10px 15px;height:108px;border: 1px solid #dadada;border-top:none}
   .new_ct ul li {float: left;white-space: nowrap;}
   .new_ct ul li a {color: #333333;padding: 0 5px;display:block;float:left;margin-bottom:5px;margin-right:8px}
   .new_ct ul li a:hover {background: #52699E;color: #fff;text-decoration: none;}
   
   
   .center_top{height:140px;}
   .center{width:333px;float:left;margin:0 10px;_margin:0 8px;padding:0px 10px;border: 1px solid #dadada;}
   .pad_0{width:353px;padding:0px;}
   .top_title{color:#454545;font-size:14px;padding:0 10px;display:block;height:30px;line-height:30px;border-bottom:1px solid #dadada;margin-bottom:5px;}
   .center_top ul{margin:0 10px;}
   .center_top ul li span{float:right;color:#666}
   .center_top ul li a{color:#454545}
   
   .top_bor{border-top:1px solid #dadada}
   .center_bottom {margin-top:10px;padding-bottom:10px;height:260px;overflow:hidden;_width:335px;}
   .new_list ul{margin:0 10px;}
   .center_bottom ul li{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
   .center_bottom a{color:#555;font-size:13px;}
      
   .right{width:275px;float:right;}
   
   .ind_bt{font-size:14px;height:30px;line-height:30px;font-family:"微软雅黑";border-bottom:1px solid #DBDBDB;overflow:hidden;color:#333}
   .ind_bt a{font-size:12px;font-weight:normal;color:#888;font-family:"宋体"}
   .gengduo{float: right;}
   
   .right_top {border-bottom: 1px dashed #bbbbbb;padding-bottom: 14px;}
   .right_top img{border:1px solid #cacaca;margin-top:10px;height:173px;width:271px;}
   .right_bottom {margin-top:20px;}
   .right_bottom img{border:1px solid #cacaca;height:70px;width:105px;float:left;margin-right:10px;}
   .ptitle{font-size:14px;margin-top:10px;text-align:center;font-weight:bold;display:block;color:#464646;}
   .ptitle12{font-size:12px;}

	.pic_p{font-size: 12px;text-indent:2em;line-height: 22px;color: #666666;}
	.pic_p  a{color:#2d64b3;}
	
   .pt dl{margin:10px 0 20px 0;}
   .pt dl dt img{float:left;margin-right:20px;width:156px;height:91px;border:1px solid #cacaca;padding:1px;}
   .pt dl dd a{color:#464646;}
   .pt dl dd p{line-height: 22px;color: #666666;}
   
   .pp_lst li{float:left;width:156px;text-align:center;}
   .pp_lst li img{width:156px;height:91px;border:1px solid #cacaca;padding:1px;}
   .pp_lst li a{color: #464646;}
   .ml_10{margin-left:10px;}
   
   .liaowangbox{border-bottom: 1px dashed #bbbbbb;overflow:hidden;padding-bottom:10px;}
   .liaowang{margin-bottom:20px;}
   .liaowang img{height:48px;}
   .img_l{border:1px solid #cacaca;height:70px;width:105px;float:left;margin-right:10px;}
   	.img_p{font-size: 12px;line-height: 22px;color: #666666;}
	.img_p  a{color:#2d64b3;}
   .list_news{margin-top:10px;}
   .list_news ul li{padding-left:10px;background:url(../images/dian.jpg) no-repeat 0 10px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
   .list_news ul li a{color:#464646;}
   
 
   
    .guanzhu{padding-top:3px;background:#f9f9f9}
    .guanzhuimg{height:90px;width:273px;margin:10px 0;}
	
   
   .img_news{margin-top:20px;}
   .img_news ul li{width:130px;float:left;text-align:center;}
   .img_news ul li img{width:128px;height:82px;padding:1px;border:1px solid #cacaca;float:left;}
   .img_news ul li em{font-style: normal;}  
   .img_news ul li a{color:#464646;}
   
   .tit_img{background:url(../images/lbg.png) bottom repeat-x;padding-right:5px;padding-left:10px;}
   .tit_img img{margin-top:5px;}
   
   .img_text{margin-top:10px;color:#666;}
   .img_text img{float:left;width:103px;height:70px;padding:1px;border:1px solid #cacaca;margin-right:10px;}
   .img_text strong a{color:#464646}
   .img_text p a{color:#2d64b3}
   
   .news_img{margin-top:20px;border:1px solid #dadada;overflow:hidden;height:200px;}
   
   .w185_imgnews {margin-top:15px;}
   .w185_imgnews ul{margin-left:8px}
   .w185_imgnews ul li{width:180px;float:left;text-align:center;margin-right:15px;_margin-right:13px;margin-bottom:10px;}
   .w185_imgnews ul li  img{width:177px;height:115px;padding:1px;border:1px solid #cacaca;float:left;}
   .w185_imgnews ul li  em{font-style: normal; white-space:nowrap;}  
   .w185_imgnews ul li  a{color:#464646;}
   .w185_imgnews .m_r0{margin-right:0px;}
   
   
   /* 友情链接 */
   #links{border: 1px solid #dadada;margin:20px 0;padding-bottom:10px;overflow:auto;zoom:1;}
   #links p {background:url(../images/lbg.png) bottom repeat-x;font-weight:bold;height:30px;line-height:30px;padding:0 10px;}
   #links ul{padding:10px;}
   #links ul li{float:left;margin-left:5px;white-space: nowrap;padding:0 10px;}
   #links ul li a{color:#666;margin-right:5px;}
   
   /* 网站底部 */
   #footer{background: url(../images/foot.jpg) repeat-x;color:#000;padding-top:10px;line-height:25px;margin-bottom:10px;}
   #foot_left{width:200px;float:left;margin-top:15px;}
   #foot_left img{float:right;}
   #foot_right p{text-align:right;}
   #foot_right a{color:#464646;margin:0 5px;}